.homepage-wrapper {
    height: auto;
    background-color: inherit;
    min-height: calc(100vh - 108px);
    width: 100vw;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 8px;
    font-size: 1.2em;

    .book-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 190px;
        height: 225px;
        font-size: .8em;

        a {
            color: $font-color;
            font-size: 1.3rem;
            text-decoration: none;
            transition: .8s ease-in-out;

            &:hover {
                color: $dark-font;
            }
        }
    }
}