.nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 100%;

    .cart {
        padding-left: 25px;
    }

    .free-shipping-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        height: 32px;
        background-color: $dark-font;
        width: 100%;
    }

    .nav-link{
        display: flex;
    }

    .link-wrapper {
        padding-top: 10px;
        display: flex;
        width: 85%;
        justify-content: space-evenly;
        font-size: 1.5em;
        align-items: center;

        button {
            position: relative;
            left: 100%;
            font-size: inherit;
            background-color: inherit;
            color: inherit;
            border: none;
        }

        a {
            color: $font-color;
            text-decoration: none;
            transition: .8s ease-in-out;

            &:hover {
                color: $dark-font;
            }
        }
    }
}